<table id="list">
  <thead>
    <tr>
      <th class="title">Airline</th>
      <th class="title">Airport</th>
      <th class="title">Flight No.</th>
      <th class="title">Departing Date</th>
      <th class="title">Time</th>
      <th class="title"></th>
    </tr>
  </thead>
  <tbody>
    <% flights.forEach((flight) => { %>
    <tr>
      <td class="airline"><%= flight.airline %></td>
      <td class="airport"><%= flight.airport %></td>
      <td class="flightNo"></td>
      <td class="departing-Date"></td>
      <td class="departing-Time"></td>
      <td class="details"><a href="/flights/<%= flight._id %>">DETAILS</a></td>
    <form action="/flights/<%= flight._id %>?_method=DELETE" method="POST">
          <button>X</button>
    </form>
    </tr>
    <% }) %>
  </tbody>
</table>